<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
  	">
	
	<bean id="paymentProducer" class="com.lakala.msc.factory.MQProducerFactoryBean">
   	 		<constructor-arg value="properties/mqproducer.properties" />
       		<constructor-arg value="payment" />
	</bean>
	
	<bean id="appmallProducer" class="com.lakala.msc.factory.MQProducerFactoryBean">
       		<constructor-arg value="properties/mqproducer.properties" />
       		<constructor-arg value="appmall" />
	</bean>
	
	<bean id="devinfoProducer" class="com.lakala.msc.factory.MQProducerFactoryBean">
       		<constructor-arg value="properties/mqproducer.properties" />
       		<constructor-arg value="devinfo" />
	</bean>
	
	<bean id="iposmgrProducer" class="com.lakala.msc.factory.MQProducerFactoryBean">
       		<constructor-arg value="properties/mqproducer.properties" />
       		<constructor-arg value="iposmgr" />
	</bean>
	
</beans>